body{
    background-color: black;
}

.container{
    cursor: pointer;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.content{
    width: 300px; height: 400px;
    position: relative;
    transition: transform 2s ease-in;
    transform-style: preserve-3d;
}

.front, .back{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.front img{
    width: 100%;
    height: 100%;
}

.front::before{
    position: absolute;
    content: "";
    top: 8px; left: 8px; right: 8px; bottom: 8px;
    border: 4px solid white;
    transform: translateZ(100px);
}

.back{
    transform: rotateY(180deg);
    background-color: #313131;
}

.back-body{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) translateZ(100px);
}
.container:hover .content{
    transform: rotateY(180deg);
}